html {
    scroll-behavior: smooth;
    scroll-padding-top: 140px;
}
body {
    margin: 0;
}

.hero {
    height: 100vh;
    background-image: url(./img/bgr.jpg);
    background-size: cover;
    background-position: bottom;

    display: flex;
    justify-content: center;
    color: white;
    font-family: "Raleway", sans-serif;
}

.hero h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 96px;
    margin-bottom: 8px;
    margin-top: 200px
}

.hero p {
    margin-top: 0;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
}

.hero-content {
    text-align: center;
}

.scroll-anchor {
    position: relative;
    top: 140px;
    visibility: hidden;
}

.logo {
    height:64px;
    width:64px;
    margin-left: 0px;
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;    
    height: 112px;
    padding: 0 160px;
    
    position: absolute;
    top: 0;
    left: 0;
    box-sizing:border-box;
}

.nav {
    display: flex;
    align-items: center;
    gap: 48px;    
    justify-content: space-between;
}

.nav a:hover {
    text-decoration: underline;
    color: #ae2222;
}

.header a {
    text-decoration: none;
    color: white;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9F0908;
    border-radius: 10px;
    height: 28px;
    border: white 1px solid;
    color: white;
    font-size: 24px;
    width: 215px;
    height: 40px;
    font-family: "Raleway", sans-serif;
}

.btn img {
    height: 24px;
    width: auto;
    object-fit: contain;
} 

.wrapper {
    margin: 0 160px
}

h2 {
    color: #9F0908;
    font-size: 80px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
}


.section2 {
    margin: 120px 160px;
}

.section2 h2 {
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

.section2 p {
    text-align: center;
    margin-bottom: 0;
    font-family: "Economica", sans-serif;
    font-weight: bold;
    font-size: 56px;

}
.section2_logo {
    display: flex;
    justify-content: space-around;
    margin-top: 64px;
    margin-bottom: 16px;
}

.noodle {
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.broth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topping {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.layout {
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.section2 img {
    width: 128px;
    height: auto;
}

.menu h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
    margin-top: 0;
}

.menu {
    background-image: url(./img/bgr2.jpg);
    padding-bottom: 120px;
    background-size: cover;
    padding: 120px 160px;
}

.layout2 {
    justify-content: center;
}
.menu tr {
    color:#675E54;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.menu img {
    width: 352px;
    height: 352px;
}

.menu p {
    font-family: "Economica", sans-serif;
    font-weight: bold;
    font-size: 56px;
    margin-bottom: 8px;
    padding-left: 30px
}

.menu-item {
    display: flex;
    gap: 80px; 
    margin-bottom: 120px;
} 

.menu-item.second {
    display: flex;
    flex-direction: row-reverse;
}


.menu-item.second img{
    grid-column: 2;
}

.menu-item.second .menu-content {
    grid-column: 1;
}

.menu-item img {
    left: 0;
    top: 0;

}

.layout2 {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}


.menu-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 0px;
    align-items: flex-start;
    justify-content: center;
}

.menu-content p {
    margin: 0 0 16px 0;
    line-height: 1;
}

.menu-content table {
    margin: 0;
}

.menu table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.menu-item table {
    gap: 8px;
    width: 100%;
    border-collapse: collapse;
}


.menu-item.second img {
    position: relative;
}

.menu-item.third {
    margin-bottom: 0px
} 

.menu table  {
    text-align: left;
}

.menu table td {
    padding: 0 36px;
    line-height: 1.3;
    display: flex;
    flex: 1
}

.menu table tr {
    display: flex;
    width: 500px;
    justify-content: space-between;
}
.menu table tr td:first-child {
    padding:0 30px;
}


.maps p {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px;
}
.maps h2 {
    margin-top: 120px;
}

.maps {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.make {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 8px;
    margin-bottom: 64;
}


.make img {
    width: 40px;
    justify-self: end;
    margin-bottom: 64px;
}

.make p {
    margin: 0;
    font-size: 24px;
    text-align: left;
    margin-bottom: 64px;
}

#maps {
    object-fit: contain;
}
.map-wrapper {
    width: 100%;
    height:auto;
    overflow: hidden;
}

.map-wrapper iframe{
    width: 100%;
    height: 500px;
    }

.footer {
    background-color: #0A141E;
    height: 144px;
    display: flex;
    justify-content: space-between;
    padding: 0 160px;
}

.logo-txt img {
    height: 44px;
}

.social img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0;
}

.social {
    display: flex;
    align-items: center;
    gap: 24px;
}

.logo-txt {
    display: flex;
    align-items: center;
}

.social a {
    display: inline-flex;
    line-height: 0;
    align-items: center;
}

section {
    scroll-margin-top: 140px;
}

.btn:hover {
    cursor: pointer;
    background-color: #ae2222;
}





@media (max-width: 770px) {
    h1 {
        font-size: 44px;
        margin: 0 16px;
    }
    
    .hero p {
        font-size: 16px;
    }

    .nav {
        display: none;
    }
    
    .header {
        padding: 0 16px;
        height: 64px;
    }

    .logo {
        height: 40px;
        width: 40px;
    }

    .btn {
        height: 40px;
        font-size: 16px;
        width: auto;
    }

    .section2 {
        margin: 72px 16px
    }

    .section2 h2 {
        margin-top: 0 
    }

    .section2 img {
    width: 112px;
    height: auto;
    }

    .layout {
        flex-direction: column;
    }

    .section2 p {
        margin-top: 8px;
    }

    .topping {
        margin-top: 16px;
    }

    .broth {
        margin-top: 16px;
    }

    .menu-item {
        flex-direction: column;
        margin-bottom: 32px;
        align-items: center;
        gap: 0;
    }

    .tonkatsu {
        margin-bottom: 16px
    }

    .menu h2 {
        text-align: center;
        margin-bottom: 40px;
    }

    .menu {
        padding: 72px 16px;
    }

    .menu-item.second {
    flex-direction: column;
    }

    .menu-content p {
        text-align: center;
        padding: 0;
        margin-bottom: 8px;
        margin-top: 32px;
        font-size: 32px;
    }

    .menu-content {
        align-items: flex-start;
        width: 100%;
        gap: 0;
    }

    .menu table td {
        padding: 0;
        flex: unset
    }

    .menu table tr {
        padding: 0;
        width: 100%;
    }

    .menu table tr td:first-child {
    padding: 0;
    font-size: 24px;
    }

    .menu table tr td {
        font-size: 24px;
    }

    .menu-item img {
        width: 100%;
        height: auto;
    }

    .layout2 {
        margin: 0 16px; 
    }

    .maps h2 {
        margin-top: 0;
        margin-bottom: 8px;
        text-align: center;
    }

    .maps {
        margin-top: 72px;
    }

    .make p {
        margin-bottom: 40px;
    }

    .make img {
        margin-bottom: 40px;
    }

    .footer {
        height: 86px;
        padding: 0 16px;
        align-items: center;
        }

    .social img{
        height: 32px;
        width: 32px;
    }

    .logo-txt img {
        height: 40px
    }  

    h2 {
        font-size: 40px;
    }

    .hero h1 {
        font-size: 44px;
    }

    .hero p {
        font-size: 16px;
    }

    .responsive-footer {
        display: block;
    }

    .logo-txt {
        display:none;
    }
}

@media (min-width: 770px) {
    .responsive-footer {
        display: none;
    }
} 
 
.layout2 {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
}


.menu-item.second img {
    grid-column: 2;
}

.menu-item.second .menu-content {
    grid-column: 1;
}
